<ion-header>
  <ion-toolbar>
    <ion-title>restricted-space</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 *ngIf="userProfile">
    Willkommen<br />{{ username() }}
  </h2>
  <ion-button *ngIf="!isSteppedUp" (click)="stepUp('epa-poc-aal2')">Step-Up</ion-button>
</ion-content>
