<ion-header>
  <ion-toolbar>
    <ion-title>Patientenbereich</ion-title>
    <ion-buttons slot="secondary">
      <ion-button mode="ios" color="primary" (click)="logout()">
        <ion-icon slot="end" name="log-out" color="primary"></ion-icon>
        Ausloggen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="userProfile | async as user">
  <h2>
    Willkommen<br />{{ username }}
  </h2>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card button="true" mode="ios" color="secondary" class="menu-card" (click)="showInsuranceDetails()">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="card"></ion-icon>
            </ion-card-subtitle>
            <ion-card-title>Meine Krankenkasse</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Sehen oder Aktulaisieren Sie hier Ihre eingetragenen Informationen zu Ihrer Krankenkasse.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card button="true" mode="ios" color="primary" class="menu-card" (click)="showRecordsOverview()">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="folder"></ion-icon>
            </ion-card-subtitle>
            <ion-card-title>Meine Patientenakte</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Sehen Sie hier alle Ihre Informationen zu Ihren Befunden und Diagnosen, Kranlmeldungen etc. ein.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card button="true" mode="ios" color="tertiary" class="menu-card" (click)="showRepresentativesOverview()">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-icon name="people"></ion-icon>
            </ion-card-subtitle>
            <ion-card-title>Meine Vertretungen</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Sehen und verwalten Sie hier alle Ihre eingetragenen Vertreter:innen.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
